@using Strategy_Pattern
@model CheckoutModel
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <title>Strategy Pattern</title>

    <link rel="stylesheet" href="Strategy_Pattern.styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Rubik', sans-serif;
        }

        body {
            background-color: #121212;
        }

        .box-container {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

        .box {
            width: 350px;
            height: 450px;
            background-color: #383838;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .box img {
                width: 100%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }

        .product-details {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            font-size: calc(18rem/16);
            color: white;
        }

        .price {
            font-weight: bold;
        }

        .add {
            width: 100px;
            height: 30px;
            margin-top: 20px;
            background-color: #121212;
            color: white;
            border: none;
            border-radius: 4px;
        }

        .checkout-container {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .checkout{
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .checkout table {
            width: 100%;
            margin-top: 20px;
        }

        .checkout table tr {
            width: 400px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .checkout table th {
            width: 200px;
            text-align: right;
            padding-right: 10px;
            color: #999;
            font-size: calc(18rem/16);
        }

        .checkout table td {
            width: 200px;
            text-align: left;
            padding-left: 10px;
            color: #bcbcbc;
            font-weight: bold;
            font-size: calc(18rem/16);
        }

        .checkout table input {
            width: 100%;
        }

        .checkout table select {
            width: 200px;
            height: 30px;
            border-radius: 4px;
            background-color: #383838;
            border: none;
            outline: none;
            color: white;
        }

        .checkout table .button-container {
            justify-content: center;
        }

        .btn{
            background: #54a857;
            border-radius: 4px;
            width: 100px;
            height: 30px;
           
        }
         

    </style>

 
</head>

<body>
    <div class="box-container">

        @{
            var products = new ProductsModel[]
            {
                new ProductsModel { Name = "Producto 1", Price = 100, ImgUrl = "https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71v3o0+dWPL.jpg" },
                new ProductsModel { Name = "Producto 2", Price = 200, ImgUrl = "https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71v3o0+dWPL.jpg" },
                new ProductsModel { Name = "Producto 3", Price = 300, ImgUrl = "https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/71v3o0+dWPL.jpg" },
            };
        }

        @for (int i = 0; i < products.Length; i++)
        {
            <div class="box">
                <img src="@products[i].ImgUrl" alt="Producto img">
                <div class="product-details">
                    <span>@products[i].Name</span>
                    <span class="price">$@products[i].Price</span>
                </div>
                <button class="add" onclick="addCart(@products[i].Price)">Add to cart</button>
            </div>
        })

    </div>


    <div class="checkout-container">
        <div class="checkout">
            <h1 class="display-4 m-3 text-center">Checkout</h1>

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.OrderTotal)

                <table cellpadding="0" cellspacing="0" class="table">
                    <tr>
                        <th>Order Total:</th>
                        <td class="total">$@Model.OrderTotal</td>
                    </tr>
                    <tr>
                        <th>Shipping Method:</th>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedMethod,
                        new SelectList(Model.ShippingMethods, "Id", "Name"),
                        "- Select -",
                        new { @class = "form-control" })
                        </td>
                      
                    </tr>

                    <tr class="button-container">
                        <td>
                            <input class="btn" type="submit" value="Calculate" />
                        </td>
                    </tr>
                    @if (Model.FinalTotal > 0)
                    {
                        <tr>
                            <th>Final Total:</th>
                            <td>$@Model.FinalTotal</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">

            $(function(){
                alert("Hola");
            });

            function addCart(price) {
                var total = document.getElementById("total");
                total.innerHTML = price;
            }
        </script>
    }

    // Editar varible con js
    

</body>
